<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles.css">
    <title>day of the week</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>
    <div class="box">
      <% for (var i = 0; i < items.length; i++) { %>
        <div class="item">
          <input type="checkbox">
          <p><%= items[i] %></p>
        </div>
        <% if (limitReached ==true) { %>
        <!-- some code logic here -->
        <% } %>
      <% }%>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" autofocus placeholder="New Item (/d to delete the previous item)" autocomplete="off" title='you have reached your limit. You can only enter /d'
        oninvalid="this.setCustomValidity('You have reached your limit. You can only enter /d')"
        onchange="try{setCustomValidity('')}catch(e){}"
        oninput="setCustomValidity(' ')" <%= pattern %> required>
        <button type="submit" name="submit">+</button>
      </form>
    </div>
<!-- a-z,A-Z,0-9!@#$%^&*()_+=;:{[?]/ -->
  </body>
</html>
